{% load static %}
<section id="about" class="site-section section-about text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>About</h2>
                <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                <p>Hi, I'm Dilip Sahu, An <i>Open-Source </i><i>Python </i>,<i>Data Scientist</i>,<i>Data Analyst</i>,and <i>Full-Stack Web Developer</i>.My skills majorly include Machine Learning using Python and R programing language along with knowledge
                    of Django,MySql,HTML,CSS,JavaScript,Angular,Tableau,Flask and AWS. I love open source, tech community, and building cool & fun things.<br>I had experienced in Hospitality and Retail Sector from MNC brands like McDonald's and BurgerKing
                    in managerial decipline for 9 years. <br>
                    <br>I hold a Bechelor's degree in Information Technology from N.G Acharya and D.k Maratha college Chembur,Mumbai in the year 2013 and I am looking for full-time job opportunities.<br>
                    <br> I love working and developing cool stuff with a great source.</p>
                <a href="https://drive.google.com/file/d/1hl0g9cyGBGuS_DHNBZPy9SUzDXNfbyYZ/view?usp=sharing" class="btn btn-fill" target="_blank" download>Download my cv</a>
            </div>
        </div>
    </div>
</section>