<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <a class="icon facebook-bg" href="https://www.facebook.com/" target="_blank"><i class="icon-facebook"></i></a>
                <a class="icon twitter-bg" href="https://twitter.com/" target="_blank"><i class="icon-twitter"></i></a>
                <a class="icon gplus-bg" href="https://www.linkedin.com/in/dilip-sahu-1181a847/?challengeId=AQEeu-7Al1UTzgAAAXU20yBOCpfxnYB5dka9_dQ-hrbDhXBJyiP3NpwzcdWZjmj_N8FhkuWtbiSygKF81OTzcNZen0SGcmh9HQ&submissionId=551df6f9-cecb-3e16-b69a-1b37e363565e" target="_blank"><i class="icon-linkedin"></i></a>
                <a class="icon linkedin-bg" href="https://accounts.google.com/ServiceLogin/identifier?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2F&followup=https%3A%2F%2Faccounts.google.com%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><i class="icon-gplus"></i></a>
            </div>
            <div class="col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                <p class="copyright">© {% now 'Y' %}<b> Dilip Sahu-Portfolio</b>. All Rights Reserved</p>
            </div>
            <div class="col-sm-2 col-xs-3">
                <div class="text-right page-scroll">
                    <a class="icon icon-up-bg" href="#hero"><i class="icon-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>