{% load static %}

<section id="portfolio" class="site-section section-portfolio">
    <div class="container">
        <div class="text-center">
            <h3>My recent Works</h3>
            <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
        </div>
        <div class="row">
            {% for portfolio in portfolios %}
            <div class="col-md-4 col-xs-6 float-sm-left">
                <div class="portfolio-item">
                    <img src="{{portfolio.image.url}}" class="img-res" alt=" ">
                    <div class="portfolio-item-info ">
                        <h4 style="font-size:large;">{{portfolio.title}} </h4>
                        <a href="#" data-toggle="modal" data-target="#{{portfolio.id}}"><span class="glyphicon glyphicon-eye-open "></span></a>
                        <a href="#"><span class="glyphicon glyphicon-link "></span></a>
                    </div>
                    <!-- /.portfolio-item-info -->
                </div>
                <!-- /.portfolio-item -->
            </div> {% endfor %}

        </div>
    </div>
</section>